.idea/
.settings/
.buildpath
.project
composer.phar
composer
_windows/
inspection/
baseRefactoring.xml
databaseDrivers.xml
databaseSettings.xml
diff.xml
file.template.settings.xml
github_settings.xml
idea.general.xml
IntelliLang.xml
vcs.xml
web-browsers.xml
debugger.xml
other.xml
ide.general.xml
php.xml
editor.xml
editor2.xml
*.kmudev*
